<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - testApp</title>
    <link rel="shortcut icon" href="~/assets/logo_icon.png" type="image/x-icon">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/testApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />

</head>
<body class="body-colorful-mode">
    @* Attribution: https://cssloaders.github.io/*@
    <div id="loader"></div>
    @Html.Partial("_NavBar");
    @* Button to toggle color scheme between more vivid and plainer *@
    <div id="change-color-button-container">
        <button id="change-color-button">
            Change Background
        </button>
    </div>
    <div class="container body-content">
        
        @RenderBody()
    </div>
    @Html.Partial("_Footer");
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/profile.js" asp-append-version="true"></script>
    <script src="~/js/colorChanger.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
