@model LoginViewModel

@{
    ViewBag.Title = "Login";
}


<h1 style="color: white;"> Login </h1>
<div style="font-weight: 800!important; background-color: black;" asp-validation-summary="ModelOnly" class="text-danger"></div>

@*Use the asop-route-returnUrl tag helper to specify the value for the returnURL 
query string parameter in the Login action method in "Account Controller"*@
<form style="padding: 10px; background-color:navy; border: 4px solid white; border-radius: 8px;" method="post" asp-action="Login"
    asp-route-returnUrl = "@Model.ReturnUrl" >
    <div style="margin-bottom: 20px;" class="form-group row">
        <div class="col-sm-2"><label><b style="color: white;">Username:</b></label></div>
        <div class="col-sm-4">
            <input asp-for="Username" class="form-control" />
        </div>
        <div class="col">
            <span style ="font-weight: 800!important; background-color: black;" asp-validation-for="Username" class="text-danger"></span>
        </div>
    </div>
    <div style="margin-bottom: 20px;" class="form-group row">
        <div class="col-sm-2"><label><b style="color: white;">Password:</b></label></div>
        <div class="col-sm-4">
            <input type="password" asp-for="Password"
            class="form-control" />
        </div>
        <div class="col">
            <span style="font-weight: 800!important; background-color: black;" asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2"><label><b style="color: white;">Keep me logged in</b></label></div>
        <div class="col-sm-4">
            <input type="checkbox" title="Remember Me" asp-for="RememberMe"
                   class="form-check" />
        </div>
    </div>
    <br />
   @* Logs user in if the data is valid, otherwise displays the Login view again with
    validation messages.*@
    <div class="row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Log In</button>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-sm-2"><b style="color: white;">Not registered?</b></div>
        <div class="col-sm-4">
            <a style="color: black!important;" asp-action="Register">Sign up as a new user</a>
        </div>
    </div>
    

</form>