@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="fullwidth-div">

    <h1 id="faq-heading">Frequently Asked Questions</h1>

    <h3 class="FAQ-question">Is my information on CodingBuddy secure?</h3>
    <p class="FAQ-answer">
        Your password is hashed and salted using the C# Identity Library and our database is encrypted using Azure technology.
        When you choose to delete your profile, we delete all your information straight away and do not keep it anywhere.
    </p>

    <h3 class="FAQ-question">Why should I use CodingBuddy?</h3>
    <p class="FAQ-answer">
        CodingBuddy lets you find another coder on the BSc program with similar coding interests and preferences to you.
    </p>

    <h3 class="FAQ-question">How to use CodingBuddy?</h3>
    <p class="FAQ-answer">
        <ul class="faq-list">
            <li>
                After signing up and logging in, you can edit the "Hobbies" section by clicking on your profile link on the top-right of the navigation bar.
                Adding more hobbies allows you to find better matches.
            </li>
            <li>
                Then, you can click on the Find-a-Buddy link to set filters for which
                programming languages/Computer Science interests you would like your buddy to have.
            </li>
            <li>
                After you submit the form, click the heart icon
                to "like" a user and the cross icon to "pass" a user.
            </li>
            <li>
                You can then go to your "My Matches" page to see the users you liked
                and look at the users who have sent you a like.
            </li>
            <li>
                If you have liked a user and they have returned your like, you will see them
                come up on the "My Matches" panel of the "My Matches" page.
            </li>
            <li>
                If you click on this user, you will be taken to their profile, and
                as you have both "liked" each other, you will be able to see their Slack Id.
            </li>
        </ul>
    
    </p>

    <h3 class="FAQ-question">How do I message someone on Slack once I have matched with them and can see their Slack Id?</h3>
    <p class="FAQ-answer">
        <ul class="faq-list">
            <li>
                Type <em>https://slack.com/app_redirect?channel=[The Person's Slack Id]</em> in your browser.
            </li>
            <li>
                For instance, if their SlackId is YSB24NS8XB, then type in <em>https://slack.com/app_redirect?channel=YSB24NS8XB</em>.
            </li>
            <li>
                We are currently working on a way to validate a user's SlackId, so that you don't have to check that it's valid by yourself
                and can automatically click on a link taking you there, and hoping to add this feature soon.
            </li>
        </ul>
      
    </p>

    <h3 class="FAQ-question">What if I "reject"/"pass" a user by mistake?</h3>
    <p class="FAQ-answer">
        There is a "reset rejections" button on the first tab of the Edit Profile page you can click to reset all the users you "passed" on.
        You can navigate to your profile by clicking on your name on the top-right of the navigation bar to go to the Edit Profile page.
    </p>

</div>