@model List<ProgrammingLanguageViewModel>

@{
    ViewData["Title"] = "Programming Languages: Select";
}

<h1 style="color: black">Programming Languages: Select</h1>

<div style="background-color: black;">
<ul style="list-style-type: none; color: white">
@using (Html.BeginForm())
{   

    for (var i = 0; i < Model.Count(); i++)
    {
        <li style="display: inline;">
            @Html.HiddenFor(m => m[i].programmingLanguage.ProgrammingLanguageId)
            @Html.HiddenFor(m => m[i].programmingLanguage.Name)
            @Html.CheckBoxFor(m => m[i].isSelected, new { Style = "vertical-align:3px;" })
            @Html.DisplayFor(m => m[i].programmingLanguage.Name)
        </li>
    }
    <br />
    <input id="Submit1" type="Submit" value="Submit" />
}
</ul>
</div>

<br />
<br />
<br />
