/** Complex CSS: just for Profile page 
    Attributions: https://www.geeksforgeeks.org/how-to-define-two-column-layout-using-flexbox/
    https://alvarotrigo.com/blog/html-css-tabs/ (number 15)
*/

/*Header font*/
@font-face {
    font-family: "Anton";
    src: url("fonts/Anton/Anton-Regular.ttf");
}

/*Body text font*/
@font-face {
    font-family: "Gordita";
    src: url("fonts/Gordita/Gordita Regular.otf");
}

/* Palette colours for this view */
:root {
    --periwinkle: #856bc2;
    --palePurple: #ded6e6;
    --peachyYellow: #FFBD59;
    --mediumBlue: #1627A3;
}


.profile-header
{
    color:white;
    font-family: Anton, Verdana, Arial, sans-serif;
    font-weight: 100;
    margin-left: 70px;
    font-size: 2.5rem;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Gordita, Verdana, Arial, sans-serif;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 80px;
    height: 120%;
    color: black;
}

/*Hide radio buttons that allow for tab-selection*/
.radio {
    display: none;
}

/** Style for the tabs */
.tab {
    cursor: pointer;
    padding: 10px 50px;
    margin: 0px 20px;
    background-color: var(--palePurple);
    display: inline-block;
    color: black;
    border-radius: 10px 10px 0px 0px;
    /* Put some shadow under the tabs for a pleasing effect */
    box-shadow: 0 0.5rem 0.5rem #00000080;
}

/* The container for all the 4 separate panels here: */
.panels {
    background-color: var(--periwinkle);
    height: 100%;
    width: 100%;
    border-radius: 3px;
    overflow: auto;
    padding-top: 20px;
}

/* Style for each panel: hide unless clicked on the corresponding tab! */
.panel {
    display: none;
    animation: fadein 0.8s;
}

/* Configure panel-change animation (fade in/out) */
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.panel-title {
    font-size: 1.5em;
    font-weight: bold;
}

/* If the corresponding radio-button is checked for that panel, then display the panel
    Use flexbox to make panel responsive (columns of data next to each other,
    wrap if screen-size becomes to small to accomodate the columns)
*/
#radio-one:checked ~ .panels #panel-one,
#radio-two:checked ~ .panels #panel-two,
#radio-three:checked ~ .panels #panel-three,
#radio-four:checked ~ .panels #panel-four {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}


/* If the corresponding radio-button is checked for that tab, then style the tab
    in a different colour and highlight the text with bold and underline
*/
#radio-one:checked ~ .tabs #tab-one,
#radio-two:checked ~ .tabs #tab-two,
#radio-three:checked ~ .tabs #tab-three,
#radio-four:checked ~ .tabs #tab-four {
    background: var(--periwinkle);
    color: black;
    border-top: 4px solid var(--peachyYellow);
    text-decoration:underline;
    font-weight: bolder;
}

/** Set column widths and layout for the first panel (account/basic info)
    Column on the left is to take up less space than the column on the right
*/
#panel-one {
    justify-content: flex-start;
    gap: 20px;
}

/* Styling for panel heading */
.panel-title{
    margin-bottom: 40px;
}

/* Panel 1 layout */
#panel-one div{
    margin-left: 20px;
}
#basic-info-first-col, #basic-info-second-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    justify-items: flex-start;
    align-items: flex-start;
}
#basic-info-first-col {
    width: 35%;
}

/* Code to put "edit" button next to the item of data shown */
.edit-profile-form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-items: flex-start;
    align-content: center;
    align-items: center;
    gap: 5px;
}

.edit-profile-form-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    justify-items: center;
    align-content: flex-start;
    align-items: flex-start;
}

.edit-button {
    background-color: black;
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
    border: 2px solid white;
    margin: 10px;
}

.edit-button:hover {
    background-color: var(--mediumBlue);
}

.add-button {
    background-color: black;
    color: var(--peachyYellow);
    border-radius: 10px;
    border: 2px solid var(--peachyYellow);
    padding: 10px 20px;
}

.add-button:hover {
    background-color: blue;
}

/**************First Column in Panel One*****************************/
/* Profile picture styling (form and image) */
#profile-picture {
    border-radius: 10%;
    width: 180px;
    height: auto;
    border: 4px solid black;
}
#profile-picture-form-wrapper{
    margin: 20px;
}
#profile-picture-form label {
    width: 250px;
}
#profile-picture-input {
    margin-top: 20px;
}
/* Styling for the "Choose file..." button to select a file from local disk*/
#profile-picture-input::file-selector-button {
    border-radius: 12px;
    background-color: var(--mediumBlue);
    color: white;
    cursor: pointer;
    padding: 10px;
    margin-right: 10px;
}
/* Change colour of "Choose file..." button when move over it */
#profile-picture-input::file-selector-button:hover {
    background-color: var(--palePurple);
    color: black;
}

/* Career-Phase and Experience-Level text styling */
#career-phase-wrapper, #experience-level-wrapper, #career-phase-wrapper div, #experience-level-wrapper div{
    margin:0;
    margin-bottom: 10px;
    padding:0;
}
#career-phase-wrapper div, #experience-level-wrapper div {
    background-color: var(--palePurple);
    padding: 10px;
    border: 4px solid black;
    border-radius: 20px;
    width: 180px;
    text-align: center;
}
/**************Second Column in Panel One*****************************/
#username-title{
    margin-bottom: 20px;
}

#slack-id-subtitle{
    margin-bottom: 20px;
}


/** For lists for langs/interests*/

#languages-wrapper {
    margin-top: 50px;
}

.interests-skills-subtitle {
    font-weight: bolder;
}

.preference-list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

}

.preference-list li {
    display: inline-block;
}

.preference-container {
    background-color: var(--palePurple);
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    border-radius: 40px;
}

/* Button to edit languages */
#edit-languages-spoken
{
    padding: 10px 20px;
    width: 200px;
    margin-bottom: 100px;
}

/*****************Hidden Forms******************/
.hidden {
    display: none;
}

.save-button {
   background-color: var(--mediumBlue);
   color: white;
   padding: 5px 10px;
   border-radius: 10px;
   border: 2px solid black;
}

.save-button:hover {
    background-color: var(--palePurple);
    color: black;
    border: 2px solid black;
}

.cancel-button {
    background-color: red;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}

.error-label {
    color: red;
}

#edit-username-form {
    margin-bottom: 20px; 
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;
}

#edit-username-form input {
    margin-left: 20px;
    border-radius: 10px;
    padding: 5px;
}

/* Highlight username input when selected */
#edit-username-form input:focus {
    background-color: var(--palePurple);
}

#edit-username-form label {
    font-weight: bolder;
}

/*Bio form*/
/* Try to make textarea put cursor on left hand top corner: REALLY hard! */
#edit-bio-form textarea {
    vertical-align: top;
    text-align: left;
    text-align:start;
    padding: 5px;
    border: 2px solid black;
}
#bio-input-label {
    display: block;
}

#bio-buttons {
    margin-top: 20px;
}

#bio {
    width: 500px;
}

/** Media queries */
/* Wrap content on smaller screens */
@media all and (max-width: 600px) {
    #radio-one:checked ~ .panels #panel-one,
    #radio-two:checked ~ .panels #panel-two,
    #radio-three:checked ~ .panels #panel-three,
    #radio-four:checked ~ .panels #panel-four {
        flex-wrap: wrap;
    }
}
/* Adjust bio width */
@media all and (max-width: 1000px)
{
    #bio {
        width: 300px;
    }
}